<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>添加定区</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	</head>

	<body>

		<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
			<div class="layui-form-item">
				<label class="layui-form-label">定区名称</label>
				<div class="layui-input-inline">
					<input type="text" name="name" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					<input type="hidden" name="subareaid" lay-verify="transferrequired" id="subareaid" placeholder="请输入用户名" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">取派员</label>
				<div class="layui-input-inline">
					<select name="staffId" id="staff" lay-verify="required" lay-filter="staff" autocomplete="off">
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">选择分区</label>
				<div id="test12" class="demo-transfer"></div>
			</div>
			<div class="layui-form-item layui-hide">
				<input type="button" lay-submit lay-filter="LAY-decidezone-front-submit" id="LAY-decidezone-front-submit" value="确认">
			</div>
		</div>

		<script th:src="@{/layui/layui.js}"></script>
		<script>
			layui.config({
				base: '/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form', 'transfer'], function() {
				var $ = layui.$,
					form = layui.form,
					transfer = layui.transfer;
				//异步加载下拉框数据
				$.post('/staff/queryfordecide', {}, function(data) {
					var $html = "";
					if(data != null) {
						$html += '<option disabled="disabled" selected="selected">请选择</option>';
						$.each(data, function(index, item) {
							$html += "<option value='" + item.id + "'>" + item.name + "</option>";
						});
						$("#staff").append($html);
						//append后必须从新渲染
						form.render('select');
					}

				});
				$.ajax({
					url: '/subarea/queryfordecide',
					dataType: "json",
					success: function(data) {
						//显示搜索框
						transfer.render({
							elem: '#test12',
							parseData: function(res) {
								return {
									"value": res.id //数据值
										,
									"title": res.addresskey //数据标题
								}
							},
							data: data,
							title: ['未选择', '已选择'],
							width: 300,
							showSearch: true,
							id: 'key'
						})
					}
				})
				$("#LAY-decidezone-front-submit").on("click", function() {
					var getData = transfer.getData('key'); //获取右侧数据
					var subareaid = '';
					for(i = 0; i < getData.length; i++) {
						subareaid += getData[i].value + ',';
					}
					$("#subareaid").val(subareaid);
				})
				//验证select
				form.verify({
					required: function(value, item) {
						var msg = "必填项不能为空";
						value = $.trim(value);
						var isEmpty = !value || value.length < 1;
						// 当前验证元素是select且为空时,将页面定位至layui渲染的select处，或自定义想定位的位置
						if(item.tagName == 'SELECT' && isEmpty) {
							$("html").animate({
								scrollTop: $(item).siblings(".layui-form-select").offset().top - 74
							}, 50);
						}
						if(isEmpty) {
							return msg;
						}
					},
					transferrequired: function(value, item) { //value：表单的值、item：表单的DOM对象
						if(value==null || value=='') {
							return '请选择分区！！！';
						}
					}
				})

			})
		</script>
	</body>
</html>